API_KEY=
GET_TASK_URL=https://viespirkiai.org/failas/ocr/checkout
POST_RESULT_URL=https://viespirkiai.org/failas/ocr/submit
BASE_FILE_URL=https://failai.viespirkiai.org/
CONCURRENCY=1
INBOX_DIR=/inbox
TESSERACT_LANG=lit+eng
